html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
   background: rgb(44, 51, 61);
}
body > *{
   margin: 0 auto;
   max-width: 1250px;
   width: 95vw;
}
h1, figure, h2, h3, blockquote, footer{
   margin-bottom: 4rem;
}
body > *:first-child{
   margin-top: 4rem;
}
h1{
   text-align: center;
   font-family: Futura, Helvetica, Ariel, sans-serif;
   text-transform: uppercase;
   color: #F3EB40;
   color: rgb(240, 216, 121);
   font-weight: 600;
   line-height: 1.3em;
   font-size: 2.6em;
   width: 100%;
}
figure{
   max-width: 900px;
   box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .6);
   margin-top: 0;
}
figure:before{
   display: block;
   padding-top: 41.5%;
   content: '';
}
pre{
   max-width: 900px;
   font-size: 1.15rem;
   color: rgba(210,216,225,0.4);
   display: block;
   font-family: monospace;
   margin-bottom: .4em;
   font-size: 1.2em;
   overflow-x: scroll;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
           overflow-scrolling: touch;
   /*margin-top: -1rem;*/
}
em, p{
   color: rgb(210, 216, 225);
}
p{
   max-width: 900px;
}
h4, h5{
   margin-bottom: 1rem;
}
i{
   font-style: italic;
   color: rgb(210, 216, 225);
}
blockquote{
   color: rgb(210,216,225);
   font-family: Georgia, serif;
   font-style: italic;
   line-height: 1.2em;
   font-size: 1.9em;
}
/*h2{
   font-family: Futura, Helvetica, Ariel, sans-serif;
   text-transform: uppercase;
   color: #F3EB40;
   color: rgb(210, 216, 225);
   font-weight: 600;
   line-height: 1.3em;
   font-size: 2em;
   max-width: 900px;
}*/
h3{
   color: rgba(210,216,225,0.4);
   font-family: Georgia, serif;
   font-style: italic;
   line-height: 1.2em;
   font-size: 1.9em;
   margin-top: 4rem;
   font-weight: 600;
   border-top: 1px solid rgb(210,216,225);
   /*background: linear-gradient(to right, rgb(210,216,225), rgba(210,216,225, 0));
   background-size: 100% 1px;
   background-repeat: no-repeat;*/
}
h2, h4{
   font-family: Futura, Helvetica, Ariel, sans-serif;
   text-transform: uppercase;
   color: #F3EB40;
   color: rgb(210, 216, 225);
   font-weight: 600;
   line-height: 1.3em;
   font-size: 1.5em;
   max-width: 900px;
   margin-top: 4rem;
}
h5{
   max-width: 900px;
   margin-top: 2rem;
   font-family: Georgia, serif;
   font-size: 1.3em;
   font-style: italic;
   font-weight: bold;
   color: rgba(210,216,225,0.4);
}
p{
   max-width: 900px;
   font-size: 1.15rem;
   color: rgba(210,216,225,0.4);
   display: block;
   font-family: monospace;
   margin-bottom: .4em;
   font-size: 1.2em;
}
code{
   max-width: 450px;
   display: block;
}
a{
   color: rgb(240, 216, 121);
}
h4 > a, h5 > a{
   padding-right: .4em;
}

figure{

}

@media(max-width:1100px){
   blockquote{
      font-size: 1.5em;
   }
}
@media(max-width:775px){
   h1{
      font-size: 5.5vw;
   }
   blockquote{
      font-size: 1.2em;
   }
}
