html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
   background: rgb(44, 51, 61);
   padding: 4em 0;
}
body > *{
   margin: 0 auto;
   max-width: 900px;
   width: 95%;
}
h1, figure, h2, h3, blockquote{
   margin-bottom: 4rem;
}
h1{
   text-align: center;
   text-transform: uppercase;
   color: rgb(240, 216, 121);
   width: 100%;
   font: bold 2.6em/1.3em Futura, Helvetica, Ariel, sans-serif;
}
figure{
   box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .6);
   margin-top: 0;
}
figure:before{
   display: block;
   padding-top: 41.5%;
   content: '';
}
pre{
   font: 1.2em/1.2em monospace;
   color: rgba(210,216,225,0.4);
   display: block;
   margin-bottom: .4em;
   overflow: scroll;
   -webkit-overflow-scrolling: touch;
           overflow-scrolling: touch;
}
em, p{
   color: rgb(210, 216, 225);
}
h4, h5{
   margin-bottom: 1rem;
}
i{
   font-style: italic;
   color: rgb(210, 216, 225);
}
blockquote{
   max-width: 1250px;
   font: italic 1.9em/1.2em Georgia, serif;
   color: rgb(210,216,225);
}
h3{
   max-width: 1250px;
   font: italic bold 1.9em/1.2em Georgia, serif;
   color: rgba(210,216,225,0.4);
   margin-top: 4rem;
   border-top: 1px solid rgb(210,216,225);
}
h2, h4{
   text-transform: uppercase;
   color: rgb(210, 216, 225);
   margin-top: 4rem;
   font: bold 1.5em/1.3em Futura, Helvetica, Ariel, sans-serif;
}
h5{
   margin-top: 2em;
   font: italic bold 1.3em Georgia, serif;
   color: rgba(210,216,225,0.4);
}
p{
   color: rgba(210,216,225,0.4);
   display: block;
   margin-bottom: .4em;
   font-size: 1.2em;
}
code{
   font-family: monospace;
   max-width: 470px;
   display: inline-block;
   margin-left: 1em;
}
a{
   color: rgb(240, 216, 121);
}

h5 > a{
   color: rgba(240, 216, 121, 0.7);
}

@media(max-width:1100px){
   blockquote{
      font-size: 1.5em;
   }
}
@media(max-width:775px){
   h1{
      font-size: 5.5vw;
   }
   blockquote{
      font-size: 1.2em;
   }
}
