/* Reset that ****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*
* ---
* NORMAL WORDS!!!!!!
* ---
*/
body {
   font-family: Lato,-apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
   -webkit-text-size-adjust: 100%;
   background: #FAFAFA;
   display: flex;
   justify-content: center;
}

header {
   margin: 20px 30px;
   border: 1px solid #E9E9E9;
   box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.11);
   border-radius: 4px;
   max-width: 560px;
   padding: 5px 0;
   background-color: rgba(255, 255, 255, 0.95);
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
}

header > * {
   flex-basis: 100%;
}

hr {
   border: none;
   border-top: inherit;
   margin: 5px 0;
}

header > *:not(hr) {
   display: block;
   padding: 10px 30px;
   color: #7A7C7D;
   font-size: 14px;
   -webkit-tap-highlight-color: transparent;
}

body:not(.touch) > header > a:hover:not(.button), a:active:not(.button) {
   background: linear-gradient(-10deg, rgba(59,153,252,0.93), #3B99FC);
   color: white !important;
}

a {
   text-decoration: none;
   color: inherit;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

header h2 {
   padding: 5px 30px;
   color: #4E5052;
   font-size: 12px;
   font-weight: 700;
   cursor: default;
}

header p {
   line-height: 1.4em;
   font-style: italic;
   display: flex;
   padding: 5px 30px 10px;
}

p::before {
   content: '';
   width: 3px;
   margin-right: 9px;
   flex-shrink: 0;
   background: #E9E9E9;
}

.button {
   margin: 5px 30px;
   padding: 7px;
   background: #FAFAFA;
   border: 1px solid #E9E9E9;
   border-radius: 4px;
   font-size: 13px;
   text-align: center;
   flex-basis: auto;
   flex-grow: 1;
}

.button:active {
   background: #E9E9E9;
}

.button + .button {
   margin-left: -14px;
}

.button:focus {
   outline: none;
}

header h1 {
   text-overflow: inherit;
   white-space: inherit;
   overflow: inherit;
}

header > a:first-child {
   color: #4E5052;
   font-size: 16px;
   font-weight: 700;
   padding: 9px 30px;
}
