@import "reset.css";
#content{
   width:100%;
   margin: 0 auto;
}
#work{
   display:table;
   margin: 0 auto;
}
#link{
   display:table-cell;
   text-align:left;
   padding-left:.5em;
   padding-right:.5em;
}
#job{
   display:table-cell;
   text-align:right;
}
#date{
   display:table-cell;
   text-align:left;
}
body{
   font-family:"Courier New";
   text-transform:uppercase;
   font-weight:bold;
   font-style:italic;
   text-align:center;
   background:#e2e2e2;
}
a{
   color:#ff6600;
   text-decoration:none;
}
h1{
   padding-top:1em;
   padding-bottom:.2em;
   font-size:1.5em;
}
@media (max-width:400px){
   #date{
      display:none;
   }
}
