html{
   overflow: hidden;
}

body{
   background: none;
}

.spot{
   position: relative;
   width: 800px;
   margin-left: auto;
   padding: 20px;
}

.spot-photo-wrapper {
   position: absolute;
   width: 760px;
   height: 326px;
   overflow: hidden;
}

.spot-photo {
   height: 100%;
   width: 100%;
   margin-left: 50%;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   transition: all .5s;
   white-space: nowrap;
   overflow-y: hidden;
   overflow-x: scroll;
   -webkit-overflow-scrolling: touch;
   overflow-scrolling: touch;
}

.spot ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

.spot ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.spot ::-moz-scrollbar {
    -moz-appearance: none;
    width: 7px;
    height: 7px;
}

.spot ::-moz-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.photo-slide {
   width: 45%;
   display: inline-block;
   margin-right: 1%;
   min-width: 500px;
   /*max-height: 80vh;*/
}

.spot-desc-wrapper {
   padding: 30px 0px;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   transition: all .5s;
   margin: 0 38% 0 0;
}

.spot-desc {
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   transition: all .5s;
}

.spot-desc > :first-child {
   box-shadow: 2px 2px 10px 0px rgba(0,0,0,.20);
   background: white;
}

.spot-desc-hidden{
   -webkit-transform: translateX(-90%) rotateZ(-10deg);
   -moz-transform: translateX(-90%) rotateZ(-10deg);
   transform: translateX(-90%) rotateZ(-10deg);
}

.spot-photo-slide{
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   transform: translateX(-50%);
}

.photo-slide:not(:first-child) {
   display: none;
}

.photo-slide-shown{
   display: inline-block !important;
   opacity: 0;
   -webkit-animation-name: show-slide;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-duration: 1s;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-name: show-slide;
   -moz-animation-iteration-count: 1;
   -moz-animation-duration: 1s;
   -moz-animation-fill-mode: forwards;
   animation-name: show-slide;
   animation-iteration-count: 1;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}
@-webkit-keyframes show-slide {
   from { opacity: 0; }
   to { opacity: 1; }
}
@-moz-keyframes show-slide {
   from { opacity: 0; }
   to { opacity: 1; }
}
@keyframes show-slide {
   from { opacity: 0; }
   to { opacity: 1; }
}

.photo-slide-hide{
   opacity: 1;
   display: inline-block !important;
   -webkit-animation-name: hide-slide;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-duration: .5s;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-name: hide-slide;
   -moz-animation-iteration-count: 1;
   -moz-animation-duration: .5s;
   -moz-animation-fill-mode: forwards;
   animation-name: hide-slide;
   animation-iteration-count: 1;
   animation-duration: .5s;
   animation-fill-mode: forwards;
}
@-webkit-keyframes hide-slide {
   from { opacity: 1; }
   to { opacity: 0; }
}
@-moz-keyframes hide-slide {
   from { opacity: 1; }
   to { opacity: 0; }
}
@keyframes hide-slide {
   from { opacity: 1; }
   to { opacity: 0; }
}

.finger-click{
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: rgba(46, 103, 43, .2);
   border-radius: 100%;
   box-shadow: 0px 0px 11px 4px rgba(46, 103, 43, .8);
   display: none;
   cursor: pointer;

      -webkit-animation-iteration-count: 1;
      -webkit-animation-duration: .3s;
      -webkit-animation-name: grow;
      -webkit-transition: -webkit-transform 0.3s, opacity .3s;
      -moz-animation-iteration-count: 1;
      -moz-animation-duration: .3s;
      -moz-animation-name: grow;
      -moz-transition: transform 0.3s, opacity .3s;
   animation-iteration-count: 1;
   animation-duration: .3s;
   animation-name: grow;
   transition: transform 0.3s, opacity .3s;
}
@-webkit-keyframes grow{
   from {opacity: 0; -webkit-transform: scale(.7);}
   to {opacity: 1; -webkit-transform: scale(1);}
}
@-moz-keyframes grow{
   from {opacity: 0; -moz-transform: scale(.7);}
   to {opacity: 1; -moz-transform: scale(1);}
}
@keyframes grow{
   from {opacity: 0; transform: scale(.7);}
   to {opacity: 1; transform: scale(1);}
}
.clicked{
      -webkit-transform: scale(24);
      -moz-transform: scale(24);
   transform: scale(24);
   opacity: .1;
}

#fc1{
   bottom:20px;
   right:20px;
}
#fc2{
   bottom:20px;
   right:20px;
}
