html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
   /*border: 1px solid black;*/
}

a{
   text-decoration:none;
   color: #2D3E50;
}
#deetz{
   transition: all 1s;
   -webkit-transition: all 1s;
}
a.fill-div {
    position: absolute;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index:10;
}

.peppy{
   background-color: #e53a30 !important;
}


#profile{
   text-align:left;
   padding:1em;
}

.rev-prof{
   display:inline-block;
   width:80vw;
   height:100%;
   /*border:1px solid blue;*/
   position:relative;
   }

#arrow-down {
   position: absolute;
   top: 3vh;
   right: 3vh;
   z-index:1;
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 20px solid #FFC817;
   cursor: pointer;
}

.yellow-left{
   color:#fde49b !important;
   border-right: 20px solid #fde49b !important;
   top:5vw !important;
   left:6vw !important;
}

#arrow-left {
   position: absolute;
   z-index:1;
   top: 2.3vh;
   left: 2.5vh;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-right: 20px solid #e53a30;
   cursor: pointer;
   /*onclick="location.href='home.html'";*/
}

body{
   background: #fde49b;
}

h1{
   color:white;
   font-family: 'Roboto Slab', serif;
   font-size:1.5em;
   font-weight:600;
   text-align:center;
}

h2{
   color:#2D3E50;
   font-family: 'Open Sans', Sans-Serif;
   font-size:1em;
   font-weight:700;
   padding-top: .5em;
   padding-left: .5em;
   margin-bottom: -1em;
   text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
   text-transform: uppercase;
   /*text-align:center;*/
}

p{
   color:#2D3E50;
   font-family: 'Open Sans', sans-serif;
   font-size:1em;
   font-weight:300;
}

header{
   z-index:0;
   width:100%;
   /*height:40vh;*/
   position:relative;
   background: #2D3E50;
   box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,.20);
   transition: all 1s;
   -webkit-transition: all 1s;
   perspective: 1000px;
   }
      header:before{
         content: "";
         display: block;
         padding-top: 100%; 	/* initial ratio of 1:1*/
      }
      .vertCent{
         display: table-cell;
         vertical-align: middle;
      }
      .vertCent-prof{
         display: table-cell;
         vertical-align: middle;
         padding-bottom:3em;
      }
      #headerText{
         position: absolute;
         top: 0;
         display: table;
         height: 100vw;
         width: 100%;
      }
      #newPizza{
         /*width:30%;
         height:25vh;
         float:left;*/
         width:100%;
         /*background:url('pizza.jpg') no-repeat 0 / contain;*/
      }
      #pizzaIcon{
         position: relative;
         margin: 0 auto;
         width:50%;
         padding:1em 0;
         background:url('5slices.png') no-repeat 0 / contain;
         transition: all 1s;
         -webkit-transition: all .5s;
      }
      #pizzaIcon-prof{
         position: relative;
         margin-left: 1em;
         width:80vw;
         padding:1em 0;
         background:url('6slices.png') no-repeat 0 / contain, url('5slices.png') no-repeat 130px / contain;
         transition: all 1s;
         -webkit-transition: all .5s;
      }
      #pizzaIcon:before{
         content: "";
         display: block;
         padding-top: 100%; 	/* initial ratio of 1:1*/
      }
      #pizzaIcon-prof:before{
         content: "";
         display: block;
         padding-top: 30%; 	/* initial ratio of 1:1*/
      }
      header p{
         padding:1.5em 0;
         color:white;
      }
      #header-menu{
         position: absolute;
         perspective: initial;
         top: 0;
         display: table;
         height: 100vw;
         width: 100%;
         /*background-color: rgba(255, 255, 255, 0.75);*/
         background:url(lid.png) no-repeat 0 / cover;
         transform: rotateX(90deg);
         -webkit-transform: rotateX(90deg);
         transition: all .5s ease-out;
         transform-origin: top;
         -webkit-transform-origin: top;
         display:table;
      }
      #headButts{
         display:table-cell;
         vertical-align:middle;
      }
      #headButts h1{
         margin: .8em;
         text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
         font-size: 2em;
      }




article{
   /*border:1px solid red;*/
   /*margin-top:1px;*/
   /*background: grey;*/
   color:white;
   position:relative;
   border-bottom: 2px solid #bbbdc0
   }
      .revsHolder{
         height:8em;
         white-space: nowrap;
         overflow-x: scroll;
         overflow-y: hidden;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
         transform: translate3d(0,0,0);
            -webkit-overflow-scrolling: touch;
         overflow-scrolling: touch;
         }
            .rev{
               display:inline-block;
               width:60vw;
               height:100%;
               /*border:1px solid blue;*/
               position:relative;
               }
                  .sliceEmoWrap{
                     position:absolute;
                     width:40%;
                     height:100%;
                     }
                     .sliceEmo{

                        margin:1em;
                        height:calc(100% - 2em);
                  }
                  .sliceRev{
                     position:absolute;
                     left:40%;
                     width:60%;
                     height:100%;
                     }
                        .revWrap{
                           position:relative;
                           height:100%;
                           display:table;
                           margin: 0 auto;
                           }
                              .middle{
                                 display:table-cell;
                                 vertical-align:middle;
                                 }
                                    .rating{
                                       display:inline;
                                       }
                                          .ball{
                                             width:15%;
                                             height:15%;
                                             border-radius:100%;
                                             background: #bdbec0;
                                             display:inline-block;
                                             }
                                                .ball:before{
                                                   content: "";
                                                   display: block;
                                                   padding-top: 100%;
                                    }
                                    .desc{
                                       width:100%;
                                       white-space:initial;
                                       margin-top:.3em;
}

#wrapper{
   width:100vw;
   height:100vh;
   background: #2D3E50;
}

#nav{
   background: #fde49b;
   box-shadow: 12px 15px 20px 0px rgba(0,0,0,.20);
}
#nav h1{
   padding: .5em 0;
   color: #e53a30;
   text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

#wrapper h2{
   color:white;
   text-shadow:none;
}

#wrapper p{
   color:white;
}

#wrapper .revsHolder{
   text-align:center;
}

#wrapper .rev{
   width:80vw;
   text-align:left;
}

#wrapper h2{
   margin-bottom:-.5em;
}
