:root {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  cursor: default;
  line-height: 1;
}
.lh-normal {
  line-height: 1.15;
}
.lh-big {
  line-height: 2;
}
.lh-copy {
  line-height: 1.7;
}
.bg-basically-white {
  background-color: #fafafa;
}
.cool-blue {
  color: #4074d8;
}
.cool-black {
  color: #344350;
}
.mb3-safe-area {
  margin-bottom: 1rem;
}
@supports (margin-bottom: max(0px)) {
  .mb3-safe-area {
    margin-bottom: max(1rem, env(safe-area-inset-bottom));
  }
}
