:root { font-size: 16px; font-family: 'Work Sans', sans-serif; cursor: default; line-height: 1; }
.lh-normal { line-height: 1.15; }
.lh-big { line-height: 2; }
.lh-copy { line-height: 1.7; }
.bg-basically-white { background-color: #fafafa; }
.cool-blue { color: #4074D8; }
.cool-black { color: #344350; }
