:root { font-size: 16px; font-family: 'Work Sans', sans-serif; cursor: default; line-height: 1; }
.lh-normal { line-height: 1.15; }
.lh-big { line-height: 2; }
.lh-copy { line-height: 1.7; }
.bg-basically-white { background-color: #fafafa; }
.cool-blue { color: #4074D8; }
.cool-black { color: #344350; }
.mw8 { max-width: 58em; }
.bg-white-gradient { background-image: linear-gradient(155deg, white 30%, #FCFCFC); }
.overflow-scrolling-touch { -webkit-overflow-scrolling: touch; }
.touch-action-none { touch-action: none; }
.sticky-header { margin-top: -100vh; }
.sticky-header:after { content: ''; display: block; height: 100vh; }
.sticky-header--object { position: -webkit-sticky; position: sticky; top: 0; }
.ease-in { transition-timing-function: ease-in; }
.transition-duration-1 { transition-duration: 0.15s; }
.transition-duration-2 { transition-duration: 0.35s; }
.transition-duration-3 { transition-duration: 0.65s; }
.transition-property--opacity { transition-property: opacity; }
.bg-ifixit-blue { background: #0071CE; }
.transition-property--opacity-transform { transition-property: opacity, transform; }
.transition-property--transform { transition-property: transform; }
.user-select-none { user-select: none; }
.cool-shadow { box-shadow: rgba(0, 3, 6, 0.04) 0px 0px 20px }
.top-100 { top: 100%; }
.b--currentColor { border-color: currentColor; }
.bg-currentColor { background-color: currentColor; }
.lh-none { line-height: 0; }
.pointer-events-none { pointer-events: none; }
.h18 { height: 1.8rem; }
.h-90 { height: 90%; }
.top-5 { top: 5%; }
.left-5 { left: 5%; }
.tracked-barely { letter-spacing: .05em }
.cool-formy-shadow { box-shadow: 0 2px 20px 0 rgba(0,0,0,0.06); }
.w18 { width: 18em; }
.mh-100 { max-height: 100%; }
.lato { font-family: 'Lato', sans-serif; }
.animate-blink { animation: 1.4s animate-blink step-end infinite; }
.will-change--transform { will-change: transform; }
.will-change-hover--transform:hover { will-change: transform; }
@keyframes animate-blink {
   from, to {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
}
